.header {
	text-align: center;
	font-family: arial;
	color: white;
}
a:link, a:visited {
  background-color: #7a797d;
  color: white;
  padding: 14px 25px;
  text-align: center; 
  text-decoration: none;
  display: inline-block;
  border-radius: 10px 10px 10px 10px;
}

a:hover, a:active {
  background-color: gray;
}
.links {
	text-align: center;
	font-family: arial;
	color: white;
} 
body {
	background-color: #2f3136;
	margin: 0px;
	height: 100%;
}

